.header-container {
  position: absolute;
  width: 100vw;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  padding: 25px;
}

.header-button {
  width: 35px;
  height: 35px;

  /* White Color */

  background: #ffffff;
  box-shadow: 0px 4px 18px rgba(21, 44, 79, 0.05);
  border-radius: 8px;

  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ff4646;
}

.header-icon {
  color: #ff4646;
}

.popup-container {
  position: fixed;
  top: 60px; /* Adjust this value to position the popup properly */
  right: 20px; /* Adjust this value to position the popup properly */
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  z-index: 999;
}

.popup-message {
  margin: 0;
}
