.header-container {
  position: absolute;
  width: 100vw;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  padding: 25px;
}

.header-button {
  width: 35px;
  height: 35px;

  /* White Color */

  background: #ffffff;
  box-shadow: 0px 4px 18px rgba(21, 44, 79, 0.05);
  border-radius: 8px;

  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ff4646;
}

.header-icon {
  color: #ff4646;
}
