.logo-fav {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-fav > img {
  width: 189.82px;
  height: 171.61px;
}

.container-fav {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

h2.fav-h2 {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;

  text-align: center;

  color: #eeeeee;
}

.carousel-fav {
  margin-top: 0;
}
.cards-fav {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  overflow-x: scroll;
  align-items: center;
}
