.container {
  margin: 1rem;
}
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  width: 292px;
  height: 276px;
}

.genre-container {
  display: flex;
  flex-direction: row !important;
  justify-content: space-between;

  margin-bottom: 16px;
}

.Mui-focused,
.MuiFormLabel-root,
.see-more {
  color: #fff !important;
}

.see-more {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 500;
  font-size: 16pt;
  line-height: 20px;
  width: 100%;
  text-align: end;
}

.filter-weight {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: hidden;
}

.form {
  display: flex;
  flex-direction: column;
}

input {
  width: 100%;
  margin-bottom: 1rem;
  height: 60px;
  border: 1px solid #887e7e;
  border-radius: 5px;
  background: transparent;

  font-family: "Outfit";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  padding-left: 16px;
  padding-right: 16px;

  color: #eeeeee;
}

input::placeholder {
  color: #eeeeee;
}

.hide {
  display: none;
}

.filter-fake-button {
  padding: 12px;
  border: 1px solid #cecece;
  width: 100%;
  text-align: center;
  border-radius: 8px;
  background-color: #cececa;
  font-family: "Poppins";
  font-weight: 600;

  margin-bottom: 16px;
  transition: 0.5s all;
}

.filter-fake-button:hover {
  color: #887e7e;
}

.search-container {
  display: flex;
}

.see-more-card-container {
  display: flex;
  overflow-x: scroll;
  margin-top: 24px;
}
