@import url("https://fonts.googleapis.com/css2?family=Outfit&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:&display=swap");
:root {
  background: #5f5b5b;
}
* {
  outline: none;
  border: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
