.image > img {
  height: 400px;
  width: 100vw;
}
.slider-container {
  background-color: #fff;
  height: calc(100vh - 380px);
  border-radius: 20px 20px 0px 0px;
  position: relative;
  top: -20px;

  padding-top: 40px;
  padding-left: 25px;
  padding-right: 25px;
}

.slider-container > .name-age {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.slider-container > .name-age > span.name {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 100%;
  /* identical to box height, or 24px */

  letter-spacing: 0.01em;

  /* Pet Adopt Color/Black Color Pet Dopt */

  color: #5f5b5b;
}

.slider-container > .name-age > .age {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  /* identical to box height, or 12px */

  color: #ff5757;
}

.slider-container > div.location {
  margin-top: 8px;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.slider-container > div.location .location-icon {
  color: #ff5757;
  font-size: 16px;
  margin-right: 8px;
}
.slider-container > div.location > span.location {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 100%;
  /* identical to box height, or 14px */

  /* Pet Adopt Color/Black Color Pet Dopt */

  color: #5f5b5b;

  opacity: 0.5;
}

.slider-container > .details {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
  margin-bottom: 16px;
}

.slider-container > .profile {
  display: flex;
}

.slider-container > .profile > img {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  margin-right: 8px;
}

.slider-container > .profile > .data-profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.slider-container > .profile > .data-profile > .title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 120%;
  /* identical to box height, or 12px */

  letter-spacing: 0.01em;

  color: #b4aeae;
}

.slider-container > .profile > .data-profile > .value {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 120%;
  /* identical to box height, or 17px */

  letter-spacing: 0.01em;

  /* Pet Adopt Color/Black Color Pet Dopt */

  color: #5f5b5b;
}

.slider-container > .bio {
  max-height: 85px;
  margin-top: 24px;
  overflow-y: auto;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  /* or 21px */

  letter-spacing: 0.01em;
}

.profile-button {
  margin-top: 16px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 16px 25px;
  gap: 10px;

  width: 100%;

  background: #ff5757;
  border-radius: 8px;

  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 120%;
  /* identical to box height, or 17px */

  letter-spacing: 0.01em;

  color: #ffffff;
}

.human-bio {
  max-height: 260px !important;
}
.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 9999;
}

.popup span {
  font-size: 18px;
  color: #333;
}